body {
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-size: 8vw;
    margin: 0;
    line-height: 1.6;
    background: white;
    color: #222943;
}

header {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    margin-left: 14vw;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-optical-sizing: auto;
    font-style: normal;
    line-height: 1.2;
    word-break: break-word; /* allows breaking long names on small screens */
}

h1 {
    font-size: 100%; /* scales with viewport width */
}

h2 {
    font-size: 60%;
}

h3 {
    font-size: 20%;
    line-height: inherit;
}

h4 {
    font-size: 60%;
    text-align: center;
}

p {
    font-family: "Bitter", serif;
    font-size: 25%;
}

main {
    max-width: 70%;
    margin: 0 auto;
    text-align: center;
}

.glow-on-hover {
    width: 10em;
    height: 2em;
    border: none;
    outline: none;
    color: white;
    font-size: 25%;
    font-family: inherit;
    background: #222943;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 0.6em;
    margin-top: 1em;
}

.glow-on-hover:before {
    content: "";
    background: linear-gradient(
        90deg,
        #ff0000,
        #ff7300,
        #fffb00,
        #48ff00,
        #00ffd5,
        #002bff,
        #7a00ff,
        #ff00c8,
        #ff0000
    );
    position: absolute;
    top: -0.1em;
    left: -0.1em;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 0.2em);
    height: calc(100% + 0.2em);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: inherit;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #222943;
    left: 0;
    top: 0;
    border-radius: inherit;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}

footer {
    text-align: center;
    padding: 2rem;
    background: #222943;
    color: white;
    line-height: 1.6;
}

@media (max-width: 768px) {
    header h1 {
        font-size: 11vw;
    }

    header h2 {
        font-size: 7vw;
    }

    .glow-on-hover {
        font-size: 3vw;
        height: 3em;
        border-radius: 1em;
    }

    header {
        height: 140vw;
    }

    main {
        font-size: 2em; /* smaller font for mobile */
        padding: 0 0.5rem;
    }
}
